<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Moj projekt</a>
    </div>
  </div>
</nav>

<div class="container">
  <h1>Add user</h1>
  <form #form method="POST" action="api/new">
    <label for="name">name:</label>
    <input type="text" placeholder="enter name" name="name" #name required>
    <button type="submit" name="button" (click)="insertUser(name)">Add User</button>
  </form>

  <h1>List of users:</h1>
  <!--<ul>
  <h1>list-group-item</h1>
  <li *ngFor="let user of users" class="row">
    <div class="col-md-8 col-md-offset-2">
      {{user.name}}
      <div class="col-md-4 btns">
        <button type="button" class="btn btn-danger pull-right">Edit</button>
        <button type="button" class="btn btn-danger pull-right">Delete</button>
      </div>
    </div>
  </li>
</ul>-->

  <div *ngFor="let user of users" class="row">
    <div class="col-md-1">
      <input type="checkbox">
    </div>
    <div class="col-md-7">
      {{user.name}}
    </div>
    <div class="col-md-4 btns">
      <input type="button" class="btn btn-danger pull-right" value="Delete">
      <input type="button" class="btn btn-default pull-right" value="Edit">
    </div>
  </div>
</div>